<div class="navbar-nav" id="fillin">
    <div class="navbar-form navbar-left" id="type-text">
        <label>Type Your Text</label>
        <input type="text" ng-model="quote" ng-change="drawCanvasText(quote, canvasSize)"></input>
    </div>
    <div class="navbar-left navlink">
        <a ng-click="prepare()">Export to Image (uh, Download)</a>
    </div>
</div>
<canvas id="the-canvas" height="{{canvasSize.height}}" width="{{canvasSize.width}}">
</canvas>
<img id="carson-image" src="{{imgSrc}}" />
<!-- <div id="text-box">
	<div id="user-text" ng-class="{'text-one': carsonNum === '1', 'text-two': carsonNum === '2', 'text-three': carsonNum === '3', 'text-four': carsonNum === '4'}" class="lie-text">
		{{quote}}
	</div>
</div> -->