<div class="row menu-row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-item">
		<a ng-click="loadCarson($event)"><img id="carson1" class="menu-img" src="/carson1-clear-thumb.jpg"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-item">
		<a ng-click="loadCarson($event)"><img id="carson2" class="menu-img" src="/carson2-clear-thumb.jpg"></a>
	</div>
</div>
<div class="row menu-row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-item">
		<a ng-click="loadCarson($event)"><img id="carson3" class="menu-img" src="/carson3-clear-thumb.jpg"></a>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 menu-item">
		<a ng-click="loadCarson($event)"><img id="carson4" class="menu-img" src="/carson4-clear-thumb.jpg"></a>
	</div>
</div>